doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 蓝领关注·2016年终盘点 | 来看看今年蓝领行业有哪些变化
    meta(name='description', content='2016年已成为过去时，让我们回顾一下蓝领的2016。')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    script(src='/js/libs/flexible.js')
    link(rel='stylesheet', href='/css/main.css')
  body
    .page-wrap
      .page.page1
        .loading.container
          .dot
          .dot
          .dot
        .background-img
          img(src="../imgs/bg_first_screen.png")
        .blue-attention.animated.blue-attention-animated
          img(src="../imgs/blue_color_attention.png")
        .bottom-man
          img(src="../imgs/bottom_man.png")
        .brush.animated.cute-brush.infinite
          img(src="../imgs/brush.png")
        .sccisors.animated.fadeInLeft
          img(src="../imgs/sccisors.png")
        .year_end.animated.fadeInRight
          img(src="../imgs/year_end.png")
        .year_end_list.animated.bounceInUp
          img(src="../imgs/2016_year_end_list.png")
        .count-list.animated.fadeInRight
          img(src="../imgs/count_list.png")
        .next-slide.big
          img(src="../imgs/next_slide.png")
        .main-box
          | 2016已接近尾声，
          br
          | 这一年大家的愿望都实现了吗？
          br
          | 在这里，
          br
          | 淘力将与大家一起回顾
          br
          | 属于蓝领的2016
      .page.page2
        .title-wrap
          h1.title 2016行业发展篇
          p.detail
            | 你认识的蓝领是怎么样的职业？
            br
            | 苦闷的生产线工人？
            br
            | 满身汽油味的修车工？
            br
            | 亦或是早起晚归的清洁工？
            br
            | …
            br
            | 或许都不是。
        a(href="http://master.tounick.com/#!/study/detail/355")
          h3(class="headline") 城市服务业更赚钱？看看你的薪资水平在哪里
          .news-detail-wrap
            .img-wrap
              img(src="../imgs/news_image.png")
            p(class="detail")
              | 从大家都熟知的快递员，到外卖送
              | 餐员，再到保姆、月嫂等…城市服
              | 务型的蓝领，在2016年频繁…
              | <span class="view-more">点击查看</span>
        a(class="last-child", href="http://master.tounick.com/#!/study/detail/16")
          h3(class="headline") 95后蓝领报告，你的出路在哪里？
          .news-detail-wrap
            .img-wrap
              img(src="../imgs/news_image2.png")
            p(class="detail")
              | "相对于工作强度而言，新蓝领的收
              | 入整体较低，一线城市平均每月收
              | 入在三到四千元间 …
              | <span class="view-more">点击查看</span>
        .next-slide.small
          img(src="../imgs/next_slide.png")
      .page.page2
        .title-wrap
          h1.title 2016事故篇
          p.detail.accident
            | 无论赚钱养家有多重要，
            br
            | 身体健康该永远放在第一位，
            br
            | 无论是工作前的准备工作，
            br
            | 还是个人的心理健康问题，
            br
            | 都需要注意起来。
        a(href="http://master.tounick.com/#!/study/detail/369")
          h3(class="headline") 2016广东蓝领事故不完全报告
          .news-detail-wrap
            .img-wrap
              img(src="../imgs/news_image3.png")
            p(class="detail")
              | 2016年（至10月中旬为止），据
              | 不完全统计，广东共发生涉及生命
              | 安全的事故36起…
              | <span class="view-more">点击查看</span>
        a(class="last-child", href="http://master.tounick.com/#!/study/detail/370")
          h3(class="headline") 今年第30跳 富士康跳楼事件回顾
          .news-detail-wrap
            .img-wrap
              img(src="../imgs/news_image4.png")
            p(class="detail")
              | 蓝领在心理问题也是一个值得关注
              | 的话题。就在今年的8月份，富士
              | 康发生了近几年的第30次跳楼件…
              | <span class="view-more">点击查看</span>
        .next-slide.small
          img(src="../imgs/next_slide.png")
      .page.page3
        .three-man
          img(src="../imgs/three_man.png")
        a(class="last-info-box", href="http://master.tounick.com/#!/study/detail/395")
          h3.title 2016正能量篇
          p.details
            | 蓝领，包括制造业劳动者、地盘工人、
            br
            | 清洁工等，
            br
            | 社会认知一直存在素质低的偏见，
            br
            | 然而，社会并不缺乏有着
            br
            | 正义感与社会责任心的蓝领，
            br
            | 让我们看看2016来自
            br
            | 蓝领的社会正能量。
          .view-more 点击查看
        .next-slide.big.bottom
          img(src="../imgs/next_slide.png")
      .page.page5
        .forward-2017
          h3.title 展望2017
          p.details
            | 无论赚钱养家有多重要，
            br
            | 身体健康该永远放在第一位，
            br
            | 无论是工作前的准备工作，
            br
            | 还是个人的心理健康问题，
            br
            | 都需要注意起来。
        a(class="ad-container", href="http://master.tounick.com/#!/study")
          .ad-wrap
            h4.ad-des 掌握揾食技能 、结交同道中人
            h3.ad-title.study 淘力师徒社区
        a(class="ad-container tcoin-con", href="http://wechat.tounick.com/employer/tounick_coin/introduce.do")
          .ad-wrap
            h4.ad-des 整合短工资源，降低企业成本
            h3.ad-title.tcoin 淘力币兑换计划
        .next-slide.big
          img(src="../imgs/next_slide.png")
      .page.page6
        a(class="ad-container", href="http://wechat.tounick.com/grats/login.do")
          .ad-wrap
            h4.ad-des 年轻蓝领更好的实习条件
            h3.ad-title.study 淘力千人实习计划
        a(class="ad-container tcoin-con", href="http://q.eqxiu.com/s/YnOND462?eqrcode=1")
          .ad-wrap
            h4.ad-des 助蓝领圆海外就业移民梦
            h3.ad-title.tcoin 淘力澳洲就业移民
        .book-roll
          img(class="wechat-code", src="../imgs/tounick_qrcode.png")
          p.content 淘力·新蓝领的互联网之家
    .orientation
      h2 请竖屏观看获取最佳体验
    script(src='/js/common.js')
    script(src='/js/libs/zepto/zepto.min.js')
    script(src='/js/libs/PageSlider.js')
    script(src='/js/year_end.js')
    script.
      var title = "蓝领关注·2016年终盘点 | 来看看今年蓝领行业有哪些变化";
      var description = "2016年已成为过去时，让我们回顾一下蓝领的2016。";
      var coverImage = "../imgs/wechat_cover.png";
