.page6{
  padding-top: 0.2rem;
  background-image: url("../imgs/background.png");

  img{
    width: 100%;
    height: 100%;
  }

  .ad-container{
    position: relative;
    top: 0.31rem;

    &::before{
      display: block;
      content: " ";
      width: 0.04rem;
      height: 0.5rem;
      position: absolute;
      top: -0.5rem;
      background-color: #333333;
      left: 4.133rem;
    }
    &::after{
      display: block;
      content: " ";
      width: 0.04rem;
      height: 0.5rem;
      position: absolute;
      top: -0.5rem;
      background-color: #333333;
      right: 4.133rem;
    }
    &.tcoin-con{
      top: 1rem;
      // disable this to fit iphone5
      // &::before{
      //   top: -0.79rem;
      //   height: 0.79rem;
      // }
      // &::after{
      //   top: -0.79rem;
      //   height: 0.79rem;
      // }
    }
  }
  .ad-wrap{
    position: relative;
    padding-top: 0.666rem;
    width: 8.666rem;
    height: 3.333rem;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 0.16rem;
    border: 0.055rem solid #333333;
    color: #333333;
    .ad-des{
      font-size: 0.55rem;
      font-weight: bolder;
      margin-bottom: 0.266rem;
    }
    .ad-title{
      background-image: url("../imgs/btn_1.png");
      background-size: cover;
      width: 5.08rem;
      height: 1.066rem;
      margin: 0 auto;
      font-size: 0.52rem;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      align-items: center;
      &.tcoin{
        background-image: url("../imgs/last_button.png");
      }
    }
    &::after{
      content: " ";
      background-image: url(../imgs/screen5_btn_edge.png);
      width: 8.6rem;
      height: 3.466rem;
      display: block;
      background-size: contain;
      position: absolute;
      top: 0.16rem;
      left: 0;
      z-index: -1;
      background-repeat: no-repeat;
    }
  }

  .book-roll{
    background-image: url("../imgs/book_roll.png");
    width: 6.773rem;
    height: 6.533rem;
    margin: 0 auto;
    background-size: cover;
    top: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wechat-code{
      width: 2.8rem;
      height: 2.8rem;
      margin-bottom: 0.266rem;
    }

    .content{
      font-size: 0.346rem;
    }

  }
}
